@{
    ViewData["Title"] = "Catalog";
}

<h1>Catalog Index Page!</h1>

<div id="catalog">

</div>

@* <i class="fas fa-search"> *@

@section Styles{
    <link rel="stylesheet" href="/css/catalog.css">
}

@section Scripts{
    <script src="/js/catalog/catalog.js"></script>
    <script src="https://kit.fontawesome.com/454dccbba4.js" crossorigin="anonymous"></script>
}